
.page {
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  background-color: aquamarine;
  height: 100vh;
  width: 90vw;
  gap: 10px 20px;
  flex-flow: column;
  margin-bottom: 10vh; 
  justify-content: center;
  img{
    width: 85vw;
    height: 95vh;
    align-self: center;
    flex-wrap: wrap;
    position: fixed;
  
  }
  
  h1{
   
    position: relative;
    text-align: center;
    font-family: 'cursive';
    font-size: 13vh;
    font-style: italic;
    margin-bottom: 10vh; 
    
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: 10;
    animation-timing-function: linear;
  }
  .hometext{
    animation: fadeIn 5s;
    p{
      position: relative;
      text-align: center;
      font-size: 4vh;
      font-family: cursive;
      font-weight: bold;
      margin-bottom: 15vh;
      
    }
  }
    .homeblurb{
      p{
        font-size: 22px;
        margin-left: 5vw;
        margin-right: 30vw;
        margin-bottom: 30vh;

    }
  

 
 
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 0.5;}
  100% { opacity: 1; }
}
@keyframes fadeInPic{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }

}

@keyframes change {
  0% {color: black};
  50% {color: aquamarine};
  100%{color: black};
}

//About page CSS
.about-page {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 90vw;
  flex-flow: column;
  

  .about-me{
    height: 10vh;
    
   
    h1{ 
      border-bottom: 5px solid white;
      animation: fadeIn 3s;
    display: flex;
    margin-top: 7vh;
    justify-content: center;
    font-family: cursive;
    font-size: 10vh;
    color: white;
  }
}
   .contents{ 
    position: relative;

  img{
    
    position: relative;
    width: 300px;
    float:left;
    display: flex;
    flex-wrap: wrap;
    animation: fadeInPic 3s;
    border: 5px solid white;
    top: 20vh; 
    left: 15vw; 
    right: 0vw;
    bottom: 0;
    
  }
  .blurb{
    position: relative;
    left: 20vw;
    top: 13vh;
    display: flex;
    width: 40vw; 
    background: rgba(74, 118, 131, 0.965);
    border: 5px solid white;
    align-items: flex-end;
  }
  .spiel{
    
  p{
    
    animation: fadeIn 5s;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    font-family: 'Gentium Plus', serif;
    text-align: center;
    

  } 
}


}
  }


//contact page css

.form{
  background-color: lightblue;
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 90vw;
  gap: 10px 20px;
  flex-flow: column;
  margin-bottom: 10vh;
 

 .title{
 
   align-items: flex-start;
   h1{ 
    border-bottom: 5px solid white;
      animation: fadeIn 3s;
    animation: fadeIn 3s;
  display: flex;
  margin-top: 7vh;
  justify-content: center;
  font-family: cursive;
  font-size: 10vh;
  color: white;
}
 }

#contact-form {
  display: grid;
  justify-content: center;
margin-top: 5vh;
  width: 90vw;
  justify-items: center;

  
  p{
    animation: fadeIn 3s;
    color: whitesmoke;
    font-weight: bold;
    font-size: 2vh;
    font-family: 'Gentium Plus', serif;
    text-align: center;
    align-self: flex-start;
    
   
  }

 
  
Form{
  
  text-align: center;
  width: 35vw;
  
 
  Label{
    color: white;
  }
}




 
}
}
.port{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10vw;
  width: 90%;
  height: 100vh;
  justify-content: center;
  justify-items: center;
  .heading{
    h1{
      border-bottom: 5px solid white;
      animation: fadeIn 3s;
    display: flex;
    
    justify-content: center;
    font-family: cursive;
    font-size: 10vh;
    color: white;
    }
  }
  .cards{
    display: flex;
    justify-content: center;
    .card{
      border: 5px solid white;
      margin: 4vw;
    .card-img-top{
      border-bottom: 3px solid black;
      height: 20vh;
    }
  }
  }
  }



//For Mobile Devices
 @media screen and(min-width: 360px) and (max-width: 800px) {
  
   .page {
    height: 100vh;
    width: 95vw;
    margin-left: 8vw;
    margin-bottom: 0;
    justify-content: center;
   
  
    h1{ 
      font-size: 20vw;
      margin: 0;
    }
  
     
      .hometext{
        p{
          margin: 0;
        }
        .homeblurb{
       p{ 
         padding: 0px;
         font-weight: normal;
         margin-top: 10px;
        background-color: aquamarine;
        color: black;
        font-family: 'Times New Roman', Times, serif;
       }
      }
      }
    
    }

    //about
    .about-page{
      background-position: center center;
      height: 1200px;
      .about-me{
        h1{
          margin: 0;
        }
      }
      .contents{
        justify-content: center;
  
    top: 20%;
    
    position:absolute;
 

      img{
       
        display: none;
      }
      .blurb{
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        align-self: center;
       justify-content: center;
       
        
        
        
        p{
         
        font-size: 15px;}
      }
    }
    
    }
    .form{
      margin-left: 10vw;
      .title{
        h1{
          margin-top: 0;
          text-align: center;
          font-size: 9vh;
        }
      }
    #contact-form{
      justify-items: center;
    p{
      margin-left: 7vw;

    }
      Form{
        width: 75vw;
        text-align: center;
       
        
        
      }
    }
  }
  .port{
    overflow-y: auto;
    .cards{
      margin-left: 4vw;
      flex-direction: column;
      .card{
      margin-bottom: 5vh;
      width: 10%;
      
      
      }
    }
  }
} 


@media screen and(min-width: 810px) and (max-width: 1024px) {

  .page{
    margin-bottom: 0;
    height: 100vh;
   h1{
     
     margin-bottom: 0;
   }
   .hometext{
     p{
       margin-bottom: 5vh;
     }
     .homeblurb{
       p{
         margin-bottom: 25vh;
        margin-left: 0;
       }
     }
   }
  }
  .about-page{
    background-position: center center;
    height: 1200px;
    .about-me{
      h1{
        margin: 0;
      }
    }
    .contents{
      justify-content: center;
 
  
  top: 20%;

  position:absolute;


    img{
      display: block;
      width: 30vw;
      height: 30vh;
      top: 0;
      right: 0;
      bottom: 0;
      left: 30%;
    }
    .blurb{
     width: 100%;
      left: 0;
      
     
      p{
      font-size: 15px;}
    }
  }
  
  }
.form{
 .title{
  height: 10vh;
   h1{
     margin-top: 0;
     
   }
 }

#contact-form{
  height: 100%;
  overflow: show;
  justify-items: center;
  display:inline-grid;

  p{ 
    margin-bottom: 0;
  }
  Form{
    width: 50vw;
    text-align:center;
  }
}
}
.port{
  overflow-y: auto;
  .cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20vw;
    .card{
      width: 50vw;
      
    }
  
    
  }
}
}